*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer{
    background-color: ffffff;
    padding: 30px;
}

.cont-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    padding-left: 10px;
}

main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fffd4;
}

.btn{
    padding: 2px 10px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 16px;
    vertical-align: baseline;
}

.cont-game{
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.cell{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#difficult{
    padding: 1px;
    padding-right: 80px;
    font-size: 16px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    vertical-align: my;
}

.tit-diff{
    font-size: 16px;
    font-weight: bolder;
}

.click{
    background-color: lightblue;
}

.cell-10{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.cell-9 {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.cell-7 {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.btn:hover{
    scale: 1.05;
    background-color: lawngreen;

}
